@model Predica.WebApp.ViewModels.JourneyViewModel
@Html.AntiForgeryToken()
<form asp-controller="Journey" asp-action="Edit" method="POST" class="">

    @Html.EditorForModel()
</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}